---
interface Props {
  icon: string;
  title: string;
  description: string;
  price: string;
  duration: string;
  img1: string;
  img2: string;
  img3: string;
}

const { icon, title, description, price, duration, img1, img2, img3 } =
  Astro.props;
---

<div
  class="service-item bg-neutral-800/50 rounded-xl shadow-lg hover:shadow-white/20 transition-all duration-300 animate-reveal group"
>
  <div class="service-item-info p-6">
    <div class="flex items-center justify-center mb-4">
      <!-- <i class={`fas ${icon} text-3xl text-white mr-3`}></i>  -->
      <h3 class="text-xlfont-semibold text-white">{title}</h3>
    </div>
    <p class="text-neutral-200 text-base mb-4">{description}</p>
    <div class="flex justify-between items-center mb-4">
      <span class="text-white font-medium">{price}</span>
      <!-- <span class="text-neutral-400 text-sm">{duration}</span>  -->
    </div>
  </div>
  <div class="examples">
    {
      img1 && (
        <div class="example-container example-container-1">
          <img class="example example1" src={img1} alt="Example 1" />
        </div>
      )
    }
    {
      img2 && (
        <div class="example-container example-container-2">
          <img class="example example2" src={img2} alt="Example 2" />
        </div>
      )
    }
    {
      img3 && (
        <div class="example-container example-container-3">
          <img class="example example3" src={img3} alt="Example 3" />
        </div>
      )
    }
  </div>
</div>
