---
interface Props {
  filler?: boolean;
  icon?: string;
  title?: string;
  description?: string;
  price?: string;
  duration?: string;
  img1?: string;
  img1ObjPosition?: string;
  img2?: string;
  img2ObjPosition?: string;
  img3?: string;
  img3ObjPosition?: string;
}

const {
  filler = false,
  icon = "",
  title = "",
  description = "",
  price = "",
  duration = "",
  img1 = "",
  img2 = "",
  img3 = "",
  img1ObjPosition,
  img2ObjPosition,
  img3ObjPosition,
} = Astro.props;

const style1 = "object-position: " + (img1ObjPosition || "center");
const style2 = "object-position: " + (img2ObjPosition || "center");
const style3 = "object-position: " + (img3ObjPosition || "center");
---

{filler ? (
  <div class="service-item-filler opacity-0 pointer-events-none">
    <!-- Empty filler div that maintains the same grid dimensions -->
    <div class="h-full w-full"></div>
  </div>
) : (
  <div class="service-item bg-neutral-800/50 rounded-xl shadow-lg hover:shadow-white/20 transition-all duration-300 animate-reveal group">
    <div class="service-item-info p-6">
      <div class="flex items-center justify-center mb-4">
        <!-- <i class={`fas ${icon} text-3xl text-white mr-3`}></i>  -->
        <h3 class="text-xl font-semibold text-white">{title}</h3>
      </div>
      <p class="text-neutral-200 text-base mb-4">{description}</p>
      <div class="justify-center items-center mb-4">
        <span class="price text-white font-medium">{price}</span>
        <!-- <span class="text-neutral-400 text-sm">{duration}</span>  -->
      </div>
    </div>
    { img1 || img2 || img3 ? (
    <div class="examples">
      {
        img1 && (
          <div class="example-container example-container-1">
            <a href={img1} target="_blank" rel="noopener noreferrer">
              <img
                class="example example1"
                style={style1}
                src={img1}
                alt="Example 1"
              />
            </a>
          </div>
        )
      }
      {
        img2 && (
          <div class="example-container example-container-2">
            <a href={img2} target="_blank" rel="noopener noreferrer">
              <img
                class="example example2"
                style={style2}
                src={img2}
                alt="Example 2"
              />
            </a>
          </div>
        )
      }
      {
        img3 && (
          <div class="example-container example-container-3">
            <a href={img3} target="_blank" rel="noopener noreferrer">
              <img
                class="example example3"
                style={style3}
                src={img3}
                alt="Example 3"
              />
            </a>
          </div>
        )
      }
    </div>
    ):<div></div>}
  </div>
)}